*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
}

.title{
  text-shadow: 2px 2px 4px #000000;
}

header .title h1{
  font-size: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin-top: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.container{
  width: 60%;
  height: 1000px;
  margin: auto;
}



.row{
  height: 30%;
  margin: 2% 2%;
}

.card{
  position:relative;
  width: 20%;
  margin: 0 2%;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  box-shadow: -5px -5px 10px 2px #333333;
}

.el{
  position:absolute;
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
}

.img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  background-color: white;
  background-size:contain;
  z-index: 1;
}

.first.img{
  background-image: url(../img/noun_Bicycle_3134821.png);
}

.second.img{
  background-image: url(../img/noun_Tractor_3134797.png);
}

.third.img{
  background-image: url(../img/noun_Tram_3134750.png);
}

.fourth.img{
  background-image: url(../img/noun_Submarine_3134738.png);
}

.fifth.img{
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}

.sixth.img{
  background-image: url(../img/noun_Tractor_3134797.png)
}

.seventh.img{
  background-image: url(../img/noun_Tram_3134750.png);
}

.eighth.img{
  background-image: url(../img/noun_air_balloon_3134741.png);
}

.ninth.img{
  background-image: url(../img/noun_Submarine_3134738.png);
}

.tenth.img{
  background-image: url(../img/noun_air_balloon_3134741.png)
}

.object{
  position:absolute;
  height: 20%;
  width: 100%;
  background-color: white;
  z-index:1;
  bottom:0;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: #E67919;
}

.card:hover .el{
  z-index: 0;
}


.from{
  height: 100px;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  text-shadow: 10px 5px 5px #fff;
}
